<div class="main">
  <div class="container-fluid fw-bold">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-sm-6 col-10 text-center">
        <div class="title fw-bold mb-5">アカウント情報</div>
        <div class="account-info-container text-white p-3">
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <div class="user-name-container p-2">
                <i class="fa-solid fa-user p-3 rounded-circle bg-white"></i>
              </div>
            </div>
            <div class="col-9 text-start p-2">
              <div class="user-name-container">
                <%= @current_user.name %>
              </div>
              <div class="start-date-container">
                利用開始日：<%= @current_user.created_at.strftime('%Y年%m月%d日') %>~
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 text-center p-2">
              <span class="total-num-container">
                <%= @total_evaluators %>
              </span>人
              <div class="explain-text-container">
                評価した人数
              </div>
            </div>
            <div class="col-4 text-center p-2">
              <span class="total-num-container">
                <%= @total_evaluated %>
              </span>人
              <div class="explain-text-container">
                評価してくれた人数
              </div>
            </div>
            <div class="col-4 text-center p-2">
              <span class="total-num-container">
                <%= @total_lovers %>
              </span>人
              <div class="explain-text-container">
                愛されている人数
              </div>
            </div>
          </div>
          <div class="me-0 mx-md-3">
            <%= link_to "/users/ranking/#{@current_user.id}", class: "text-decoration-none my-report-button keyword-text my-4" do %>
            <i class="fa-solid fa-eye"></i>
            周りからの評価をみる
            <% end %>
          </div>
        </div>
        <div class="me-0 mx-md-3">
          <%= link_to "/create_group", class: "text-decoration-none group-button keyword-text my-4" do %>
          <i class="fa-solid fa-user-plus group-icon"></i>
          グループを作成する
          <% end %>
        </div>
        <div class="me-0 mx-md-3">
          <%= link_to "/join_group", class: "text-decoration-none group-button keyword-text my-4" do %>
          <i class="fa-solid fa-right-to-bracket group-icon"></i>
          グループに参加する
          <% end %>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn  btn-link text-danger mb-5 pb-5" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          退会する
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">退会の確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-start">
                本当に退会してもよろしいですか？<br>退会すると、これまでに登録した情報やサービス利用履歴がすべて削除されます。
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                <%= link_to("退会する", "/users/destroy/#{@current_user.id}", class: "btn btn-danger text-decoration-none", method: "post") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>