<div class="main users-new">
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-10 col-md-4 text-center">
        <% if @error_message %>
        <div class="form-error">
          <i class="fa-solid fa-circle-exclamation"></i>
          <%= @error_message %>
        </div>
        <% end %>
        <h1 class="h3 mb-5 pb-3 fw-bold">ログイン</h1>
        <%= form_tag("/login") do %>
        <div class="form-floating mb-3">
          <input name="name" value="<%= @name %>" class="form-control" id="floatingInput" placeholder="田中太郎">
          <label for="floatingInput">ユーザ名</label>
        </div>
        <div class="form-floating mb-3">
          <input name="password" value="<%= @password %>" class="form-control" id="floatingPassword"
            placeholder="Password">
          <label for="floatingPassword">パスワード</label>
        </div>
        <div class="signin-button rounded">
          <button value="ログイン" class="w-100 btn btn-lg text-white" type="submit">ログインする</button>
        </div>
        <% end %>
        <%# <%= form_tag("/create_guest_user") do %>
        <%# <div class="guest-login-button rounded my-3"> %>
        <%# <button value="ログイン" class="w-100 btn btn-lg btn-outline-secondary" type="submit">ゲストログインする（評価するのみ）</button> %>
        <%# </div> %>
        <%# <% end %>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </div>
    </div>
  </div>
</div>