<div id="keyword_<%= vote.id %>">
  <% if linked_keywords.include?(vote.id) %>
    <%= link_to "/votes/#{vote.id}/#{@current_user.id}/#{@user.id}/destroy", method: "post" do %>
      <div class="voted"><%= vote.content %></div>
    <% end %>
  <% else %>
    <%= link_to "/votes/#{vote.id}/#{@current_user.id}/#{@user.id}/create", method: "post" do %>
      <div class="unvoted"><%= vote.content %></div>
    <% end %>
  <% end %>
</div>