<!DOCTYPE html>
<html>

<head>
  <title>BuchakeApp</title>
  <%= favicon_link_tag('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/87ea4c493f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <div class="bi me-2">
          <%= embedded_svg('logo.svg', class: 'logo-icon')%>
        </div>
      </a>
      <ul class="nav nav-pills fw-bold align-items-center">
        <% if @current_user && !@current_user.name.start_with?("ゲストユーザ") %>
        <li class="nav-item">
          <%= link_to(@current_user.name, "/detail", class: "text-decoration-none text-dark mx-3") %>
        </li>
        <li class="nav-item">
          <%= link_to("グループリスト", "/groups/index", class: "text-decoration-none text-dark mx-3") %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            その他
          </a>
          <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
            <li class="nav-item m-2">
              <%= link_to("ログアウト", "/logout", {method: "post", class: "text-decoration-none text-dark mx-3"}) %>
            </li>
            <li class="nav-item m-2">
              <%= link_to("退出", "/logout", {method: "post", class: "text-decoration-none text-danger mx-3"}) %>
            </li>
          </ul>
        </li>
        <% else %>
        <li class="nav-item my-2">
          <%= link_to("ログイン", "/login", class: "text-decoration-none text-dark mx-3 my-1") %>
        </li>
        <li class="nav-item my-2">
          <%= link_to("新規登録", "/signup", class: "text-decoration-none text-dark mx-3 my-1") %>
        </li>
        <% end %>
      </ul>
    </header>
  </div>

  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>